---
import Alert from "../components/Alert.astro";
import GameRow from "../components/GameRow.astro";
import Layout from "../components/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Details from "../components/Details.astro";

export const prerender = false;
---

<Layout title="Arcade Menu">
  <div class="flex">
    <Sidebar/>
    <Details/>
  </div>
  
</Layout>