---
import Layout from "../components/Layout.astro";



---

<Layout title="Work In Progress">
    <div class="w-5xl mx-auto">
        <h1 class="font-bold text-3xl pb-5">Work In Progress</h1>
        <p class="text-xs font-mono">so it's not working...yet</p>
    </div>
    
</Layout>